@using Microsoft.AspNetCore.Identity
@inject SignInManager<ServisDeck.Models.Users.ApplicationUser> SignInManager
@inject UserManager<ServisDeck.Models.Users.ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ServiceDesk</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="~/css/datatable.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="icon" type="image/x-icon" href="~/css/favicon.png">

</head>
<body>
    <header>
        <nav class="bg-white border-gray-200 sm:px-4 py-2.5 " style="background: white ">
            <div class="container flex flex-wrap justify-between items-center mx-auto w-full px-5">
                <a asp-controller="Deck" asp-action="Index" class="flex items-center">
                    <img src="~/css//Logo.jpg" class="mr-3 h-6 sm:h-9" alt="Daion Logo" />
                </a>
                <button id="burger" data-collapse-toggle="mobile-menu" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="mobile-menu" aria-expanded="true">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                    <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
                <div class="hidden w-full lg:block lg:w-auto" id="mobile-menu">
                    <ul class="flex flex-col mt-4 lg:flex-row lg:space-x-8 lg:mt-0 lg:text-sm lg:font-medium">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li>
                                <a href="#" class="block py-2 pr-4 pl-3  rounded bg-transparent text-blue-700 lg:p-0">User: @User.Identity.Name</a>
                            </li>
                            if (User.IsInRole("admin"))
                            {
                                <li>
                                    <a class="block py-2 pr-4 pl-3  rounded bg-transparent text-blue-700 lg:p-0" asp-controller="Users" asp-action="Index">Správa uživatelů</a>
                                </li>
                                <li>
                                    <a class="block py-2 pr-4 pl-3  rounded bg-transparent text-blue-700 lg:p-0" asp-controller="School" asp-action="Index">Školy</a>
                                </li>
                                <li>
                                    <a class="block py-2 pr-4 pl-3  rounded bg-transparent text-blue-700 lg:p-0" asp-controller="Deck" asp-action="Index">Desk</a>
                                </li>
                                <li>
                                    <a class="block py-2 pr-4 pl-3  rounded bg-transparent text-blue-700 lg:p-0" asp-controller="DeckAdmin" asp-action="Index">Admin Desk</a>
                                </li>
                            }
                            <li>
                                <a class="block py-2 pr-4 pl-3  rounded bg-transparent text-blue-700 lg:p-0" aria-current="page" asp-controller="Login" asp-action="Logout">Odhlásit se</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="block py-2 pr-4 pl-3  rounded bg-transparent text-blue-700 lg:p-0" aria-current="page" asp-controller="Login" asp-action="Index">Přihlásit se</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="w-full p-5">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="w-full footer bg-white p-4 text-center">
        <div class="container">
            &copy; 2022 - ServiceDesk- DAION
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    const button = document.querySelector('#burger');
    const menu = document.querySelector('#mobile-menu');

    button.addEventListener('click', () => {
        menu.classList.toggle('hidden');
    });
</script>
